.swiper {
  width: 100%;
  height: 400px;
}

.swiper-container {
  position: relative;
}

.swiper-container .swiper-button-prev {
  left: -2rem;
}

.swiper-container .swiper-button-next {
  right: -2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-link {
  color: initial;
}

.slide-content {
  width: 100%;
  height: 100%;
}

.slide-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.2rem;
  text-align: left;
}

.slider-media,
.slider-media figure,
.slider-media picture {
  height: 100%;
}

.play-pause-button {
  position: absolute;
  bottom: 0;
  z-index: 11;
  font-size: 1.5rem;
  box-shadow: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.play-pause-button:focus {
  border-color: #86b7fe;
  box-shadow: var(--bs-btn-active-shadow), var(--bs-btn-focus-box-shadow);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.textoverlay {
  font-weight: 600;
  margin: 0;
}

.textoverlay>span {
  padding: 0 6px 6px 10px;
  background-color: var(--bs-white);
  color: var(--bs-body-color);
  /* box-shadow: 0 0 0 0 var(--bs-white), 0 0 0 0 var(--bs-white); */
  box-decoration-break: clone;
}

@media (max-width: 767px) {
  .hide-navigation-sm [class*='swiper-button-'] {
    display: none;
  }

  .hide-pagination-sm .swiper-pagination {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-navigation-md [class*='swiper-button-'] {
    display: none;
  }

  .hide-pagination-md .swiper-pagination {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hide-navigation-lg [class*='swiper-button-'] {
    display: none;
  }

  .hide-pagination-lg .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-navigation-xl [class*='swiper-button-'] {
    display: none;
  }

  .hide-pagination-xl .swiper-pagination {
    display: none;
  }
}