<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:section name="SwiperJsScript">

  <f:variable name="autoplay"><f:format.raw>{data.pi_flexform.autoplay}</f:format.raw></f:variable>
    <f:if condition="{autoplay} == 'true'">
      <f:variable name="autoplay">
        <f:format.raw>
          {
            delay: <f:format.raw>{data.pi_flexform.slideSpeed}</f:format.raw>,
            disableOnInteraction: true,
          }
        </f:format.raw>
      </f:variable>
    </f:if>
    
  <kuSwiperjs:addJsFooterInlineCode name="swiper-{data.uid -> f:format.raw()}" compress="true">
    document.addEventListener('DOMContentLoaded', () => {
      const swiper<f:format.raw>{data.uid}</f:format.raw> = new Swiper('.swiper<f:format.raw>{data.uid}</f:format.raw>', {
          keyboard: {
            enabled: true,
          },
          a11y: true,
          loop: <f:format.raw>{data.pi_flexform.loop}</f:format.raw>,
          autoplay: <f:format.raw>{autoplay}</f:format.raw>,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          breakpoints: {
            576: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-smartphone}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-smartphone}</f:format.raw>,
            },
            768: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-tablet}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-tablet}</f:format.raw>,
              spaceBetween: 20,
            },
            992: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-desktop}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-desktop}</f:format.raw>,
              spaceBetween: 20,
            },
            1200: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-widescreen}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-widescreen}</f:format.raw>,
              spaceBetween: 20,
            },
          },
        });

        document.querySelector('.<f:format.raw>slider-btn-{data.uid}</f:format.raw>').addEventListener('click', function() {
          toggleBtnState(swiper<f:format.raw>{data.uid}</f:format.raw>)
        }, false);
    });
    let isSliderActive = <f:format.raw>{data.pi_flexform.autoplay}</f:format.raw>;
  </kuSwiperjs:addJsFooterInlineCode>
</f:section>
</html>