<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:section name="SwiperJsScript">
    
    <f:variable name="totalcount">{records -> f:count()}</f:variable>

    <f:if condition="{totalcount} > 1 && {data.pi_flexform.autoplay} === 'true'">
      <f:then>
        <f:variable name="autoplay"><f:format.raw>{
              delay: <f:format.raw>{data.pi_flexform.slideSpeed}</f:format.raw>,
              disableOnInteraction: false,
              //pauseOnMouseEnter: true,
            }</f:format.raw></f:variable>
        </f:then>
        <f:else>
          <f:variable name="autoplay">false</f:variable>
        </f:else>
    </f:if>

    <f:variable name="loop"><f:format.raw>{data.pi_flexform.loop}</f:format.raw></f:variable>
    <f:if condition="{totalcount} < 2 && {data.pi_flexform.autoplay} === 'true'">
        <f:variable name="loop">false</f:variable>
    </f:if>

    <f:if condition="{data.pi_flexform.fade} === 'true'">
        <f:variable name="fade"><f:format.raw>effect: 'fade',
          fadeEffect: {
            crossFade: true
          },</f:format.raw></f:variable>
    </f:if>

    <f:if condition="{data.pi_flexform.centeredSlides} === 'true'">
        <f:variable name="centeredSlides"><f:format.raw>centeredSlides: true,</f:format.raw></f:variable>
    </f:if>

    <f:if condition="{data.pi_flexform.randomStart} === 'true'">
      <f:variable name="randomStart">initialSlide: Math.floor(Math.random() * (<f:format.raw>{totalcount}</f:format.raw> - 0 + 1) + 0),</f:variable>
    </f:if>

    <f:if condition="{data.pi_flexform.reachedEnd} === 'true' && {data.pi_flexform.autoplay} === 'true'">
      <f:variable name="reachedEnd">
        reachEnd: function(){
          SwiperState.pauseSwiper();
        },
      </f:variable>
    </f:if>
    
  <KuSwiper:addJsFooterInlineCode name="swiper{data.uid -> f:format.raw()}" compress="true">
    document.addEventListener('DOMContentLoaded', () => {
      const swiper<f:format.raw>{data.uid}</f:format.raw> = new Swiper('.swiper<f:format.raw>{data.uid}</f:format.raw>', {
          <f:format.raw>{randomStart}</f:format.raw>
          loop: <f:format.raw>{loop}</f:format.raw>,
          autoplay: <f:format.raw>{autoplay}</f:format.raw>,
          <f:format.raw>{fade}</f:format.raw>
          <f:format.raw>{centeredSlides}</f:format.raw>
          watchOverflow: true,
          spaceBetween: 20,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          keyboard: {
            enabled: true,
          },
          a11y: true,
          breakpoints: {
            576: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-smartphone}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-smartphone}</f:format.raw>,
            },
            768: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-tablet}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-tablet}</f:format.raw>,
            },
            992: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-desktop}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-desktop}</f:format.raw>,
            },
            1200: {
              slidesPerView: <f:format.raw>{data.pi_flexform.slidesToShow-widescreen}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{data.pi_flexform.slidesToScroll-widescreen}</f:format.raw>,
            },
        },  
      });
        
      <f:if condition="{data.pi_flexform.autoplay} === 'true' && {totalcount} > 1">
        <f:format.raw>const ss{data.uid -> f:format.raw()} = new SwiperState(swiper{data.uid -> f:format.raw()}, '.btn-slider{data.uid -> f:format.raw()}');</f:format.raw>
      </f:if>
    });
  </KuSwiper:addJsFooterInlineCode>
</f:section>
</html>