<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <f:variable name="totalcount">{records -> f:count()}</f:variable>
  <f:variable name="swiper">swiper{data.uid -> f:format.raw()}</f:variable>

  <f:if condition="{totalcount} > 1 && {flexFormData.autoplay} === '1'">
    <f:then>
      <f:variable name="autoplay">autoplay: {delay: <f:format.raw>{flexFormData.slideSpeed}</f:format.raw>, disableOnInteraction: false},</f:variable>
    </f:then>
    <f:else>
      <f:variable name="autoplay">autoplay: false,</f:variable>
    </f:else>
  </f:if>

  <f:if condition="{flexFormData.loop} === '1'">
    <f:then>
      <f:variable name="loop">loop: true,</f:variable>
    </f:then>
    <f:else>
      <f:variable name="loop">loop: false,</f:variable>
    </f:else>
  </f:if>
  <f:if condition="{totalcount} < 2 && {flexFormData.autoplay} === '1'">
    <f:variable name="loop">loop: false,</f:variable>
  </f:if>

  <f:if condition="{flexFormData.fade} === '1'">
    <f:variable name="fade">effect: 'fade', fadeEffect: { crossFade: true },</f:variable>
  </f:if>

  <f:if condition="{flexFormData.centeredSlides} === '1'">
    <f:variable name="centeredSlides">centeredSlides: true,</f:variable>
  </f:if>

  <f:if condition="{flexFormData.randomStart} === '1'">
    <f:variable name="randomStart">initialSlide: Math.floor(Math.random() * ({totalcount -> f:format.raw()} - 0 + 1) + 0),</f:variable>
  </f:if>
  
  <f:if condition="{flexFormData.reachedEnd} === '1' && {flexFormData.autoplay} === '1'">
    <f:variable name="reachedEnd">reachEnd: function(){ ss_{swiper}.pauseSwiper(); },</f:variable>
  </f:if>

  <f:asset.script identifier="swiper{data.uid -> f:format.raw()}">
    document.addEventListener('DOMContentLoaded', () => {
      const {swiper} = new Swiper('.<f:format.raw>{swiper}</f:format.raw>', {
          <f:format.raw>{autoplay}</f:format.raw>
          <f:format.raw>{loop}</f:format.raw>
          <f:format.raw>{randomStart}</f:format.raw>
          <f:format.raw>{fade}</f:format.raw>
          <f:format.raw>{centeredSlides}</f:format.raw>
          loopPreventsSliding: false,
          spaceBetween: 20,
          pagination: {
            el: '.<f:format.raw>{swiper}</f:format.raw>-dots',
            clickable: true,
          },
          navigation: {
            nextEl: '.<f:format.raw>{swiper}</f:format.raw>-next',
            prevEl: '.<f:format.raw>{swiper}</f:format.raw>-prev',
          },
          slidesPerView: <f:format.raw>{flexFormData.slidesToShow-smartphone}</f:format.raw>,
          slidesPerGroup: <f:format.raw>{flexFormData.slidesToScroll-smartphone}</f:format.raw>,
          on: {
            <f:format.raw>{reachedEnd}</f:format.raw>
          },
          breakpoints: {
            576: {
              slidesPerView: <f:format.raw>{flexFormData.slidesToShow-smartphone}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{flexFormData.slidesToScroll-smartphone}</f:format.raw>,
            },
            768: {
              slidesPerView: <f:format.raw>{flexFormData.slidesToShow-tablet}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{flexFormData.slidesToScroll-tablet}</f:format.raw>,
            },
            992: {
              slidesPerView: <f:format.raw>{flexFormData.slidesToShow-desktop}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{flexFormData.slidesToScroll-desktop}</f:format.raw>,
            },
            1200: {
              slidesPerView: <f:format.raw>{flexFormData.slidesToShow-widescreen}</f:format.raw>,
              slidesPerGroup: <f:format.raw>{flexFormData.slidesToScroll-widescreen}</f:format.raw>,
            },
        },  
      });
        
      <f:if condition="{flexFormData.autoplay} === '1' && {totalcount} > 1">
        const ss_{swiper} = new SwiperState({swiper}, '.btn-{swiper}');
      </f:if>
    });
  </f:asset.script>

</html>