<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="swiper-slide">
    <f:if condition="{record.data.slidelink}">
        <f:then>
            <f:link.typolink parameter="{record.data.slidelink}" class="slide-link">
                <f:render section="SlideContent" arguments="{_all}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:render section="SlideContent" arguments="{_all}" />
        </f:else>
    </f:if>
</div>
<f:section name="SlideContent">
    <div class="slide-content">
        <f:if condition="{record.files.0}">
            <f:then>
                <div class="slider-media">
                    <f:render partial="Media/Type" arguments="{file: record.files.0, data: data, settings: settings, variants: variants}" />
                </div>
            </f:then>
        </f:if>
        <div class="slide-caption">
            <f:if condition="{record.data.header}">
                <h3 class="slide-title">{record.data.header}</h3>
            </f:if>
            <f:if condition="{record.data.bodytext}">
                <div class="slide-bodytext">{record.data.bodytext}</div>
            </f:if>
        </div>
    </div>
</f:section>

</html>