<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="totalcount">{records -> f:count()}</f:variable>
<div class="swiper-slide">
    <f:if condition="{record.data.slidelink}">
        <f:then>
            <f:link.typolink parameter="{record.data.slidelink}" class="slide-link">
                <f:render section="SlideContent" arguments="{_all}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:render section="SlideContent" arguments="{_all}" />
        </f:else>
    </f:if>
</div>
<f:section name="SlideContent">
    <div class="slide-content">
        <f:if condition="{record.files.0}">
            <f:then>
                <div class="slider-media">
                    <f:if condition="{totalcount} > 1 && {data.pi_flexform.lazyLoad} === 'true'">
                        <f:then>
                            <f:for each="{record.files}" as="file">
                                <img class="swiper-lazy" data-src="{f:uri.image(image: file, treatIdAsReference: 1)}" alt="" />
                            </f:for>
                            <div class="swiper-lazy-preloader"></div>
                        </f:then>
                        <f:else>
                            <f:image image="{record.files.0}" alt="" />
                        </f:else>
                    </f:if>
                </div>
            </f:then>
        </f:if>
        <div class="slide-caption">
            <f:if condition="{record.data.header}">
                <h3 class="textoverlay slide-title"><span>{record.data.header}</span></h3>
            </f:if>
            <f:if condition="{record.data.bodytext}">
                <div class="textoverlay slide-bodytext"><span>{record.data.bodytext}</span></div>
            </f:if>
        </div>
    </div>
</f:section>

</html>