<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />
    <f:if condition="{records}">
        <f:variable name="totalcount">{records -> f:count()}</f:variable>
        <div class="swiper swiper{data.uid}">
            <div class="swiper-wrapper">
                <f:for each="{records}" as="record" iteration="iterator">
                    <f:render partial="Slide" arguments="{_all}" />
                </f:for>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <f:if condition="{data.pi_flexform.autoplay} === 'true' && {totalcount} > 1">
                <button aria-label="{f:translate(key: 'pause', extensionName: 'ku_swiper')}" aria-pressed="false" class="btn btn-slider{data.uid} play-pause-button" type="button"><span class="bi bi-pause-fill" aria-hidden="true"></span></button>
            </f:if>
        </div>
        <f:render partial="JavaScript" section="SwiperJsScript" arguments="{_all}" />
    </f:if>
</f:section>
<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'EXT:ku_swiper/Resources/Public/Css/Dist/swiper-bundle.min.css')}" />
    <script defer src="{f:uri.resource(path: 'EXT:ku_swiper/Resources/Public/JavaScript/Dist/swiper-bundle.min.js')}"></script>

    <!-- <script type="module"> 
        // core version + navigation, pagination modules:
        import Swiper, { Navigation, Pagination } from '{f:uri.resource(path: "EXT:ku_swiper/Resources/Public/swiper")}';
        // import Swiper and modules styles
        import '{f:uri.resource(path: "EXT:ku_swiper/Resources/Public/swiper/css")}';
        import '{f:uri.resource(path: "EXT:ku_swiper/Resources/Public/swiper/css/navigation")}';
        import '{f:uri.resource(path: "EXT:ku_swiper/Resources/Public/swiper/css/pagination")}';
    </script> -->
    
    <script>
        let translations = {
            pause: '<f:translate key="LLL:EXT:ku_swiper/Resources/Private/Language/locallang.xlf:pause" />',
            play: '<f:translate key="LLL:EXT:ku_swiper/Resources/Private/Language/locallang.xlf:play" />',
        };
    </script>
</f:section>

</html>