<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />
    <f:comment><f:debug>{_all}</f:debug></f:comment>
    
    <f:debug>{_all}</f:debug>
        <f:if condition="{lib.tx_ku_swiper_pages !== ''}">
            <f:cObject typoscriptObjectPath="lib.tx_ku_swiper_pages" data="{data}" />
        </f:if>
        
        <f:format.raw>{shortcuts}</f:format.raw>
        
</f:section>

</html>