<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />
    <f:if condition="{records}">
        <f:variable name="swiper" value="swiper{data.uid -> f:format.raw()}" />
        <f:variable name="totalcount" value="{records -> f:count()}" />
        <f:comment>        
        <f:variable name="autoplay" value="{flexFormData.autoplay -> f:format.raw()}" />
        <f:variable name="loop" value="{flexFormData.loop -> f:format.raw()}" />
        <f:variable name="fade" value="{flexFormData.fade -> f:format.raw()}" />
        <f:variable name="centeredSlides" value="{flexFormData.centeredSlides -> f:format.raw()}" />
        <f:variable name="randomStart" value="{flexFormData.randomStart -> f:format.raw()}" />
        <f:variable name="reachedEnd" value="{flexFormData.reachedEnd -> f:format.raw()}" />
        <f:variable name="slideSpeed" value="{flexFormData.slideSpeed -> f:format.raw()}" />
        <f:variable name="slidesToShow" value="{flexFormData.slidesToShow-smartphone -> f:format.raw()}" />
        <f:variable name="slidesPerGroup" value="{flexFormData.slidesToScroll-smartphone -> f:format.raw()}" />
    </f:comment>

        <f:variable name="smartphone-settings">{f:format.json(value: {slidesPerView: '{flexFormData.slidesToShow-smartphone}', slidesPerGroup: '{flexFormData.slidesToScroll-smartphone -> f:format.raw()}'})}</f:variable>
        <f:variable name="tablet-settings">{f:format.json(value: {slidesPerView: '{flexFormData.slidesToShow-tablet}', slidesPerGroup: '{flexFormData.slidesToScroll-tablet -> f:format.raw()}'})}</f:variable>
        <f:variable name="desktop-settings">{f:format.json(value: {slidesPerView: '{flexFormData.slidesToShow-desktop}', slidesPerGroup: '{flexFormData.slidesToScroll-desktop -> f:format.raw()}'})}</f:variable>
        <f:variable name="widescreen-settings">{f:format.json(value: {slidesPerView: '{flexFormData.slidesToShow-widescreen}', slidesPerGroup: '{flexFormData.slidesToScroll-widescreen -> f:format.raw()}'})}</f:variable>

        <f:variable name="breakpoints">{f:format.json(value: {576: '{smartphone-settings}', 768: '{tablet-settings}', 992: '{desktop-settings}', 1200: '{widescreen-settings}'})}</f:variable>

        <f:variable name="navigation-sm" value="{flexFormData.arrows-smartphone -> f:format.raw()}" />
        <f:if condition="{navigation-sm} === '0'">
            <f:variable name="nav-sm" value="hide-navigation-sm" />
        </f:if>
        <f:variable name="navigation-md" value="{flexFormData.arrows-tablet -> f:format.raw()}" />
        <f:if condition="{navigation-md} === '0'">
            <f:variable name="nav-md" value="hide-navigation-md" />
        </f:if>
        <f:variable name="navigation-lg" value="{flexFormData.arrows-desktop -> f:format.raw()}" />
        <f:if condition="{navigation-lg} === '0'">
            <f:variable name="nav-lg" value="hide-navigation-lg" />
        </f:if>
        <f:variable name="navigation-xl" value="{flexFormData.arrows-widescreen -> f:format.raw()}" />
        <f:if condition="{navigation-xl} === '0'">
            <f:variable name="nav-xl" value="hide-navigation-xl" />
        </f:if>
        <f:variable name="pagination-sm" value="{flexFormData.dots-spartphone -> f:format.raw()}" />
        <f:if condition="{pagination-sm} === '0'">
            <f:variable name="pag-sm" value="hide-pagination-sm" />
        </f:if>
        <f:variable name="pagination-md" value="{flexFormData.dots-tablet -> f:format.raw()}" />
        <f:if condition="{pagination-md} === '0'">
            <f:variable name="pag-md" value="hide-pagination-md" />
        </f:if>
        <f:variable name="pagination-lg" value="{flexFormData.dots-desktop -> f:format.raw()}" />
        <f:if condition="{pagination-lg} === '0'">
            <f:variable name="pag-lg" value="hide-pagination-lg" />
        </f:if>
        <f:variable name="pagination-xl" value="{flexFormData.dots-widescreen -> f:format.raw()}" />
        <f:if condition="{pagination-xl} === '0'">
            <f:variable name="pag-xl" value="hide-pagination-xl" />
        </f:if>
        <div class="swiper-container {nav-sm} {nav-md} {nav-lg} {nav-xl} {pag-sm} {pag-md} {pag-lg} {pag-xl}">
            <div class="swiper swiper{data.uid} {flexFormData.slideshowHeight} {flexFormData.sliderStyle}" data-id="{swiper}" data-totalcount="{totalcount}" data-autoplay="{autoplay}" data-loop="{loop}" data-fade="{fade}" data-centeredslides="{centeredSlides}" data-random="{randomStart}" data-reachend="{reachedEnd}" data-slidespeed="{slideSpeed}" data-breakpoints="{breakpoints}">
                <div class="swiper-wrapper">
                    <f:for each="{records}" as="record">
                        <f:render partial="SlideItems" arguments="{_all}" />
                    </f:for>
                </div>
            </div>
            <div class="{swiper}-next swiper-button-next"></div>
            <div class="{swiper}-prev swiper-button-prev"></div>
            <div class="{swiper}-dots swiper-pagination"></div>
            <f:if condition="{flexFormData.autoplay} === '1' && {totalcount} > 1">
                <button aria-label="{f:translate(key: 'pause', extensionName: 'ku_swiper')}" class="btn btn-{swiper} play-pause-button" type="button"><span class="bi bi-pause-fill" aria-hidden="true"></span></button>
            </f:if>
        </div>
        <f:render partial="JavaScript" arguments="{_all}" />
        <f:render partial="JavaScriptTranslations"  arguments="{_all}" />
    </f:if>
    <f:if condition="{lib.swiper.pagecss !== ''}">
        <f:asset.css identifier="swiperCSS" href="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagecss')}" />
    </f:if>
    <f:if condition="{lib.swiper.pagejs !== ''}">
        <f:asset.script identifier="swiperJs" src="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagejs')}" />
    </f:if>
</f:section>

</html>