<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />
    <f:if condition="{records}">
        <f:variable name="totalcount">{records -> f:count()}</f:variable>
        <div class="swiper swiper{data.uid}">
            <div class="swiper-wrapper">
                <f:for each="{records}" as="record" iteration="iterator">
                    <f:render partial="Slide" arguments="{_all}" />
                </f:for>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <f:if condition="{data.pi_flexform.autoplay} === 'true' && {totalcount} > 1">
                <button aria-label="{f:translate(key: 'pause', extensionName: 'ku_swiper')}" aria-pressed="false" class="btn btn-slider{data.uid} play-pause-button" type="button"><span class="bi bi-pause-fill" aria-hidden="true"></span></button>
            </f:if>
        </div>
        <f:render partial="JavaScript" section="SwiperJsScript" arguments="{_all}" />
    </f:if>
</f:section>

<f:section name="HeaderAssets">
    <f:render partial="HeaderAssets" arguments="{_all}" />
</f:section>

<f:section name="FooterAssets">
    <f:render partial="FooterAssets" arguments="{_all}" />
</f:section>

</html>